button {
  background-color: var(--red-1);
  color: var(--white);
  padding: 14px 24px;
  border: none;
  white-space: nowrap;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}