@use '../../mixins.scss' as *;

.main {
  border: 1px solid;
  display: grid;
  grid-template-columns: 2fr 1fr;  
  gap: 16px;
  margin: 0 104px 160px;
}

.main__content {
& video {
  background: var(--gray-2);
  width: 100%;
  height: 440px;
  object-fit: cover;
  margin-top: 56px;
  border-radius:var(--standard-border-radius);
  -webkit-border-radius:var(--standard-border-radius);
  -moz-border-radius:var(--standard-border-radius);
  -ms-border-radius:var(--standard-border-radius);
  -o-border-radius:var(--standard-border-radius);
}
}
.side__content {
  border: 1px solid green;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

.copy__section h2,
.copy__section span {
  @include setFont();
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: var(--gray-3)
}

.copy__section span {
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
}