@use '../../mixins.scss' as *;

.main {
  border: 1px solid;
  display: grid;
  grid-template-columns: 2fr 1fr;  
  gap: 16px;
  margin: 0 104px 160px;
}

.main__content {
  border:1px solid red;
& video {
  background: var(--gray-2);
  border-radius: 8px;
  width: 100%;
  height: 440px;
  object-fit: cover
}
}

.copy__section h2,
.copy__section span {
  @include setFont();
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #333333;
}
.copy__section {
  margin: 56px 0;
}
.copy__section span {
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
}