.mainphoto {
  display: grid;
  grid-template-columns: [start] 1fr 1fr 1fr[end];
  grid-template-rows: 1fr 240px;
  gap: 8px;
}

.bigphoto,
.smallphoto {
  background-color: var(--gray-2);
  border-radius: var(--standard-border-radius);
  -webkit-border-radius: var(--standard-border-radius);
  -moz-border-radius: var(--standard-border-radius);
  -ms-border-radius: var(--standard-border-radius);
  -o-border-radius: var(--standard-border-radius);
}
.bigphoto {
  height: 560px;
  grid-column: start / end;
}