.featured__car__list__item {
list-style: none;
}
.featured__car {
  text-decoration: none;
display: grid;
grid-template-columns: 1fr 3fr;
grid-template-rows: 80px;
gap:23px ;

}
.featured__car:hover{
  background-color: var(--light-gray);
}
.featured__car__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-color: var(--gray-2);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.featured__car__name,
.featured__car__price {

  margin: 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #11142D;
}
.featured__car__price {
  font-size: 24px;
  color: #FA3C45;
}
.featured__car__content {
  display: grid;
  gap: 8px;
  padding: 12px 0;
}