.ribbon {  
  padding: 3px 6px;
  border: 1px solid red;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.008em;
  color: #FA3C45;
  width: max-content;
  background: #F6F7FB;
  border-radius: 6px;
  margin-bottom: 5px;
}