.ribbon {
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.008em;
  color: #FA3C45;
  width: max-content;
  background: #F6F7FB;
  margin-bottom: 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-style: normal;
  text-align: center;
}
