@use '../../mixins.scss' as *;

.copy__section {
  margin: 56px 0 0;
}
.copy__section h2 {
  margin: 0 0 40px;
  @include setFont();
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: var(--gray-3);
}