body {
  margin: 0;
  font-family: Mulish;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-gray);
}

:root {
 --red: #C5010A;
 --red-1: #FA3C45;
 --white: #FFF;
 --black: #000000;
 --black-1: #11142D;
 --gray: #92929D;
 --gray-2: #E2E2EA;
 --gray-3: #333333;
 --light-gray:  #F7F7FC;
 --light-red: #FDE5E6;
 --standard-border-radius: 8px;
}

