body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
 --red: #C5010A;
 --red-1: #FA3C45;
 --white: #FFF;
 --black: #000000;
 --black-1: #11142D;
 --gray: #92929D;
 --light-gray:  #F7F7FC;
 --light-red: #FDE5E6;
 --standard-border-radius: 8px;
}

